.section-text-image {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 50px 100px 0 100px;
}
.text-center{
  text-align: center;
}
.padding-left-5{
  padding-left: 5rem;
}

section{
  margin-bottom: 75px;
}

.roles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits {
  display: flex;
  justify-content: space-between;
}

/* AMBIL SEMUA DIV DIDALAM CLASS .ROLES */
.roles div {
  font-weight: bold;
  background-color: #ffffff;
  width: 31%;
  padding: 20px 0px 20px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgray;
  font-size: 2em;
}
.roles.half div{
  width: 47%;
}

/* AMBIL SEMUA DIV DIDALAM CLASS .BENEFITS */
.benefits .ant-typography, 
.speakers .ant-typography{
  margin-top: 20px;
  font-size: 1.4em;
}
.benefits .image-wrapper,
.speakers .image-wrapper{
  box-shadow: 0px 0px 5px lightgray;
  padding: 10px;
  border-radius: 10px;
}
.benefit-box{
  width: 17%;
  text-align: center;
}

.benefit-box img{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}


/* SPEAKERS */
.speakers{
  display: flex;
  justify-content: space-between;
}
.speakers .benefit-box{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.speakers img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.speakers .image-wrapper{
  padding: 0;
}